run = "node index.js"
modules = ["web", "nodejs-20", "nix"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[deployment]
run = ["sh", "-c", "node index.js"]
